.idea/
.gradle/

/bin/*
libs/*/*
!libs/android-support-v4.jar
!/bin/data/.gitkeep

/obj/
/build/
/gradle/
/jni/
/srcJava/
!/srcJava/cc/openframeworks/mas500_of_Android/OFActivity.java

gradlew
gradlew.bat
local.properties

mas500_of_Android.iml
